<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
    <h1 class='display-4 ml-3'><small><u>Registration</u></small></h1>
    
    <form action = '/reg_validate' method = 'POST'>
        {% csrf_token %}
            <div class=" ml-5  form-group w-25">
                    
                <label for="formGroupExampleInput">First Name</label>
        {% for message in messages %}
                {% if 'first_name' in message.extra_tags %}
                <div class="alert alert-danger" role="alert">
                        {{message}}
                </div>
                {% endif %}
            
        {% endfor %}
                    <input type="text" class="form-control" id="formGroupExampleInput" name = "first_name">
            </div>

            <div class="ml-5  form-group w-25">
                    <label for="formGroupExampleInput">Alias</label>
        {% for message in messages %}
                {% if 'last_name' in message.extra_tags %}
                <div class="alert alert-danger" role="alert">
                        {{message}}
                </div>
                {% endif %}
            
        {% endfor %}
                    <input type="text" class="form-control" id="formGroupExampleInput" name = 'alias'>
            </div>

            <div class="ml-5  form-group w-25">
                    <label for="formGroupExampleInput">E-mail</label>
        {% for message in messages %}
                    {% if 'email' in message.extra_tags %}
                    <div class="alert alert-danger" role="alert">
                            {{message}}
                    </div>
                    {% endif %}
                
        {% endfor %}
                    <input type="text" class="form-control" id="formGroupExampleInput" name = 'email'>
            </div>

            <div class="ml-5  form-group w-25">
                    <label for="formGroupExampleInput">Password</label>
        {% for message in messages %}
                    {% if 'password' in message.extra_tags %}
                    <div class="alert alert-danger" role="alert">
                            {{message}}
                    </div>
                    {% endif %}
                
        {% endfor %}
                    <input type="password" class="form-control" id="formGroupExampleInput" name = 'password'>
            </div>



            <div class="ml-5 form-group w-25">
                    <label for="formGroupExampleInput">Confirm Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput" name = 'confirm_password'>
            </div>
            <div class="ml-5  form-group w-25">
                <label for="formGroupExampleInput">Date_Hide</label>
    {% for message in messages %}
                {% if 'register_date' in message.extra_tags %}
                <div class="alert alert-danger" role="alert">
                        {{message}}
                </div>
                {% endif %}     
    {% endfor %}
                <input type='date' class="form-control" id="register_date" name='register_date'>
        </div>

        <button type="submit" class="ml-5 btn btn-primary">Register</button>

    </form>

    <h1 class='display-4 ml-3'><small><u>Login</u></small></h1>
    <form action='/login_validate' method='POST'>
                {% csrf_token %}
        {% for message in messages %}
                {% if 'log_error' in message.extra_tags %}
                        <div class="alert alert-danger" role="alert">
                                {{message}}
                        </div>
                {% endif %}
            
        {% endfor %}
                <div class="ml-5  form-group w-25">
                                <label for="formGroupExampleInput">E-mail</label>
        {% for message in messages %}
                {% if 'malem' in message.extra_tags %}
                        <div class="alert alert-danger" role="alert">
                                {{message}}
                        </div>
                {% endif %}
            
        {% endfor %}
                                <input type="text" class="form-control" id="formGroupExampleInput" name = 'email'>
                </div>

                <div class="ml-5  form-group w-25">
                                <label for="formGroupExampleInput">Password</label>
        {% for message in messages %}
                {% if 'badpas' in message.extra_tags %}
                        <div class="alert alert-danger" role="alert">
                                {{message}}
                        </div>
                {% endif %}
            
        {% endfor %}
                                <input type="password" class="form-control" id="formGroupExampleInput" name = 'password'>
                </div>

                <button type="submit" class="ml-5 btn btn-primary">Login</button>
    </form>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>