<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li{
            list-style: none;
        }
        .lista{
            display: inline-block;
            width: 400px;
            height: 200px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <nav><a href="/logout">logout</a></nav>
    <h1>Hello, {{user.alias}}!</h1>
    <h4>x people poked you!!</h4>
    <div class="lista">
        <ul>
            <li>x poked you y times</li>
            <li>x poked you y times</li>
            <li>x poked you y times</li>
        </ul>
        <!-- aqui deberia de haber un for para que aparezca en lista las personas que le han dado poke
        luego yo podria un User.objects.all().order_by("-poke") para que esten en orden desendente  -->
    </div>

    <h3>People you may want to poke</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Email</th>
                <th>Poke History</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for usuarios in usuario %}
                {% if usuarios.first_name != user.first_name %}
                    <tr>
                        <td> {{usuarios.first_name}} </td>
                        <td>{{usuarios.alias}}</td>
                        <td> {{usuarios.email}} </td>
                        <td> {{request.session.u_id}} </td>
                        <td>
                            <form action="/allpokes" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="suma" value="sumas"/>
                                <input type="submit" value="Poke!"/>
                            </form> 
                        </td>
                    </tr>        
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>